- widget = @widgets[system_name]
- unless widget.hide
  %div{:id => system_name, :class => 'widget'}
    %h1= widget.title
    %div{:class => local_assigns[:no_frame] ? 'content' : 'content frame'}
      != widget.content