// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wrapper {
  width: 990px;
  margin: 0 auto 50px;
}
#top{
  text-align: center;
  #logo{
    width: 250px;
  }
}
#events {
  float: left;
}
#announcements {
  float: right;
}