// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#header{
  text-align: center;
  background: none;
  border: none;
  padding: 0;
  #logo{
    width: 250px;
  }
}
#wrapper {
  width: 990px;
  margin: 0 auto 50px;

  .widget{
    margin: 35px 0 0;
    h1{
      font-size: 20px;
    }
    big {
      font-size: large;
    }
    .frame {
      border: 1px solid #5E6469;
      padding: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }
  }
  #top{
    #left {
      float: left;
      width: 660px;
    }
    #right {
      float: right;
      width: 250px;
    }
  }
  #middle{
    width: 100%;
  }
}
.clear{
  clear: both;
}